

html, body {
    margin: 0;
    padding: 0;
    font-family: Copperplate;
}

div#header {
    background: rgb(0, 120, 18);
    margin: 0;
    padding: 0;
}

div#header h1 {
    font-size: 36px;
    color: #f5f5f5;
    margin: 0;
    padding: 7px;
    text-align: center;
    border: 5px solid black
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 2px solid black
  }

div.frame {
    margin: 15px;
}

div.args {
    padding-left: 15px;
    padding-right: 15px;
    background: #ffe;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.error {
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

fieldset {
    padding: 3px;
    margin: 1px;
    border: 1px solid #ddd;
}

fieldset legend {
    font-weight: bold;
    font-size: 12px;
}

input.query {
    font-size: 18px;
}

label {
    font-size: 12px;
}

p.num_results {
    margin-left: 5px;
    font-size: 12px;
}

table.form {
    text-align: left;
}

table.form tr td,
table.form tr th {
    vertical-align: top;
}

table.form input {
    margin-right: 5px;
}

table.form input#id_query {
    font-size: 14px;
}

table.form ul#id_days {
    margin: 0px;
    padding: 0px;
}

table.form ul#id_days li {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}

table.regression {
    border: 1px solid #ddd;
    padding: 0px;
    margin: 0px;
}

table.regression tr th {
    text-align: left;
}

table.regression tr td,
table.regression tr th {
    padding: 3px;
    font-size: 10px;
}

table.regression tr:nth-child(even) {
    background: #eee;
}

ul {
    list-style: none;
  }

ul.errorlist {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;

}

ul.errorlist li {
    font-size: 12px;
    color: red;
    margin: 0px;
    padding: 0px;
}

span.helptext {
    font-size: 9px;
    color: gray;
}